﻿#contactNameField {
    text-transform: none;
}

.submenu-nav-items a {
    padding-left: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: solid 1px rgba(0,0,0,0.1) !important;
}

.vinculo_derecha {
    float: right;
    padding-right: 1%;
}

.vinculo_izquierda {
    float: left;
    padding-left: 1%;
    display: none;
}

.CargandoModalBackground {
    overflow: hidden;
    background-color: #0D0D0D;
    filter: alpha(opacity=90);
    opacity: 0.9;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center !important;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    color: white;
    text-align: left;
}

.styled-select {
    /*width: 95%;*/
    height: 34px;
    overflow: hidden;
    background: url(../images/flecha_abajo.png) no-repeat right #F4F4F4;
    padding: 3px;
    margin: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    color: #888;
    border: none;
    outline: none;
    /*display: inline-block;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/*This css is to ensure that the google map contols (zoom bar etc) show and size correctly.*/
#map_canvas img
{
    max-width: none;
}

/*This css is to give a nice big popup "info window" when a marker is clicked on the map.*/
.infoDiv
{
    /*width: 200px;*/
    height: 100px;
    -webkit-user-select: none;
    background-color: white;
}

div
{
    overflow: visible;
}

/*This css is to jquerycombobox*/
.lista_lateral
{
    background-color: #d9edf7;
    border-radius: 6px 6px 6px 6px;
}

.k-select
{
    border: 0px !important;
}

.sel_item
{
    background-color: #d9edf7 !important;
}

.espacio_span
{
    margin-right: 4px;
}

.espacio_span_abajo
{
    margin-bottom: 10px;
}

.panel-title
{
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
}

.custom-combobox
{
    width: 100%;
}

.custom-combobox-input
{
    width: 98% !important;
    height: 29px;
}

li
{
    list-style: none;
}

#ui-id-1, #ui-id-2, #ui-id-3
{
    padding-left: 0px;
}

.uppercase {
    padding: 10px;
}

.ui-widget-header {
    border: 1px solid #58595b !important;
    background-color: #58595b !important;
    background: #58595b !important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /*color: #FFFFFF !important;*/  
}
.ui-dialog .ui-dialog-buttonpane button{
    background:#58595B !important;
    border: 1px solid #58595b !important;
    color: white;
}

.ui-state-default .ui-icon {
    background: url(../images/flecha_abajo.png) no-repeat right;
}

.ui-icon-closethick {
    background-image: none !important;
}

.ui-icon-closethick {
    background-image: url('../images/ui/close.png') !important;
    background-position: 25% 20%;
}