﻿@{
    
}

<div class="page-header-clear">
</div>
<div class="content">
    <div class="decoration">
    </div>
    <div class="container no-bottom" style="text-align: center;">
        <h3>
            PREGUNTAS FRECUENTES
        </h3>
    </div>
    <div class="decoration">
    </div>
    <div class="container no-bottom">
        <div class="big-notification blue-notification">
            <h4>
                En esta sección encontrará respuesta a las preguntas más frecuentes sobre el funcionamiento del app
            </h4>
            <a href="#" class="close-big-notification">X</a>
        </div>
    </div>
    <div id="preguntas" class="container no-bottom">
    </div>
    <div id="loading" class="CargandoModalBackground" style="padding-top: 150px;">
        <img src="images/bx_loader.gif" alt="loding" />
    </div>
    <div>
        <h3>
            <label id="label_registros" style="text-align: center; color: black;">
            </label>
        </h3>
    </div>
    <div class="container no-bottom">
        <div style="float: left;">
            <img onclick="paginarAnterior()" id="flechas_paginacion_izq" src="images/flecha_izquierda.png" alt="Página anterior" style="width: 35px;" />
        </div>
        <div style="float: right;">
            <img onclick="paginarSiguiente()" id="flechas_paginacion_der" src="images/flecha_derecha.png" alt="Página anterior" style="width: 35px;" />
        </div>
    </div>
    <br />
    <br />
    <div class="container" style="overflow:hidden;">
        <div class="footer-socials" style="width:100%; overflow:hidden;">
            <div style="float:left;width:50%;">
                <a href="https://www.facebook.com/SPEColombia?fref=ts" target="_blank" class="facebook-footer" style="float:right;"></a>
            </div>
            <div style="float:left;width:50%;">
                <a href="https://twitter.com/ServiciodEmpleo" target="_blank" class="twitter-footer" style="float:left;"></a>
                <a href="#" class="goup-footer" style="float:right;"></a>
            </div>
        </div>
        <p class="copyright uppercase center-text no-bottom">SERVICIO DE EMPLEO MÓVIL 2014<br> Todos los derechos reservados</p>
    </div>

</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/faqs.js"></script>
}
