﻿@model WebOfertaEmpleo.Models.Vacante

@{
    ViewBag.Title = "Create";
}
@section styles {
    <link href="~/Content/bootstrap_custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <!-- This css is to ensure that the google map contols (zoom bar etc) show and size correctly. -->
    <style>
        #map_canvas img {
            max-width: none;
        }

        .infoDiv {
            height: 110px;
            width: 200px;
            -webkit-user-select: none;
            background-color: white;
        }

        div {
            overflow: visible;
        }

        .styled-select {
            margin: 0px;
        }

        .col-md-10 {
            padding-top: 8px;
        }

        #divConfirmacion {
            margin: 10px;
        }

        .ui-button {
            position: absolute !important;
        }

        .ui-state-default {
            border: 0px solid #cccccc !important;
        }

        .styled-select-autocomplete {
            height: 34px;
            overflow: hidden;
            background: none;
            padding: 3px;
            margin: 0px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            color: #888;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }

        .ui-icon {
            width: 33px !important;
            height: 33px !important;
        }

        .ui-button-icon-only .ui-icon {
            left: 0 !important;
            margin-left: -2px !important;
        }

        .ui-button-icon-only .ui-icon {
            position: absolute;
            top: 0 !important;
            margin-top: -1px !important;
        }

        #ui-id-1, #ui-id-2, #ui-id-3 {
            padding-left: 6px !important;
        }
    </style>
}

<div class="page-header-clear">
</div>
<div class="content">
    <div class="decoration">
    </div>
    @if (Session["nomUsu"] != null)
    {
        <div class="container no-bottom" style="text-align: right;margin-right: 0px;">
            <h5>
                Se encuentra logueado como @Session["nomUsu"].ToString()
            </h5>
        </div>
    }
    <div class="container no-bottom" style="text-align: center;">
        <h3>
            PUBLICAR NUEVA VACANTE
        </h3>
    </div>
    <div class="decoration">
    </div>
    <div class="container no-bottom">
        <div class="big-notification blue-notification">
            <h4>
                En esta sección, podrá especificar las características de la vacante y del trabajador que requiere, y publicarla de manera inmediata y gratuita
            </h4>
            <a href="#" class="close-big-notification">X</a>
        </div>
    </div>
    <div class="decoration">
    </div>
    <div>
        @Html.ActionLink("Volver al Listado", "Index")
    </div>
    <div class="decoration">
    </div>
    @using (Html.BeginForm("Create", "Vacantes", FormMethod.Post, new { id = "formfield" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" id="formulario">
            <h4>1. Ingrese los datos de la vacante</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Tipo, new SelectList(@ViewBag.selectTipo, "Value", "Text", "1"), new { @class = "form-control styled-select" })
                    @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Num_vacantes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Num_vacantes, new SelectList(@ViewBag.selectNumTrabajadores, "Value",
         "Text", "1"), new { @class = "form-control styled-select" })
                    @Html.ValidationMessageFor(model => model.Num_vacantes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cargo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Salario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Salario, new SelectList(@ViewBag.selectSalario, "Value",
         "Text", "1"), new { @class = "form-control styled-select" })
                    @Html.ValidationMessageFor(model => model.Salario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experiencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Experiencia, new SelectList(@ViewBag.selectExperiencia, "Value",
         "Text", "0"), new { @class = "form-control styled-select" })
                    @Html.ValidationMessageFor(model => model.Experiencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nivel_estudios, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Nivel_estudios, new SelectList(@ViewBag.selectNivel, "Value",
         "Text", "1"), new { @class = "form-control styled-select" })
                    @Html.ValidationMessageFor(model => model.Nivel_estudios, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Profesion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Profesion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Profesion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="ui-widget espacio_span_abajo styled-select-autocomplete" style="margin-right: 50px; width: 100%;">
                        <select class="form-control" name="Departamento" id="Departamento" style="max-width: 200px;"></select>
                    </div>
                    @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Municipio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="ui-widget espacio_span_abajo styled-select-autocomplete" style="margin-right: 50px; width: 100%;">
                        <select class="form-control" name="Municipio" id="Municipio" style="max-width: 200px;"></select>
                    </div>
                    @Html.ValidationMessageFor(model => model.Municipio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha_vencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fecha_vencimiento, new { htmlAttributes = new { @class = "form-control date", type = "date" } })
                    @Html.ValidationMessageFor(model => model.Fecha_vencimiento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Indicativo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Indicativo, new SelectList(@ViewBag.selectIndicativo, "Value",
             "Text"), new { @class = "form-control styled-select" })
                    @Html.ValidationMessageFor(model => model.Indicativo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.Latitud)
            @Html.HiddenFor(model => model.Longitud)
            <br />

            <hr />
            <h4>2. Ubique la vacante en el mapa haciendo click en el lugar aproximado de la oportunidad</h4>
            <hr />
            <!-- This is the div that will contain the Google Map -->
            <div id="map_canvas" style="height: 600px;"></div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="button" value="Guardar" class="btn btn-default" id="btnValidate" />
                    @*<input type="button" name="submit" value="Crear" id="btnValidate" data-toggle="modal" data-target="#confirm-submit" class="btn btn-default" />*@
                </div>
            </div>


        </div>
    }

    <div id="divConfirmacion" style="display:none;">
        <div class="form-horizontal">
            <h4>Datos de la Vacante a Publicar</h4>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2">Título de la vacante: </label>
                <div class="col-md-10">
                    <label id="lblTitulo"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Descripción de la vacante: </label>
                <div class="col-md-10">
                    <label id="lblDescripcion"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Número de trabajadores requeridos: </label>
                <div class="col-md-10">
                    <label id="lblNroTrabajadores"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Cargo: </label>
                <div class="col-md-10">
                    <label id="lblCargo"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Salario ofrecido: </label>
                <div class="col-md-10">
                    <label id="lblSalario"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Experiencia mínima requerida: </label>
                <div class="col-md-10">
                    <label id="lblExperienciaMinima"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Nivel de estudio mínimo requerido: </label>
                <div class="col-md-10">
                    <label id="lblNivelEstudioMinimo"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Profesión: </label>
                <div class="col-md-10">
                    <label id="lblProfesion"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Municipio/Departamento: </label>
                <div class="col-md-10">
                    <label id="lblMunicipioDpto"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Dirección de referencia: </label>
                <div class="col-md-10">
                    <label id="lblDireccionRef"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Correo Electrónico de Contacto: </label>
                <div class="col-md-10">
                    <label id="lblDireccionCorreo"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Teléfono de Contacto: </label>
                <div class="col-md-10">
                    <label id="lblTelefonoContacto"></label>
                </div>
            </div>

            <input type="button" value="Almacenar" class="btn btn-default" id="btnAlmacenar" />
            <input type="button" value="Regresar" class="btn btn-default" id="btnRegresar" />
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script>

        $("#Departamento").combobox();
        $("#toggle").click(function () {
            $("#Departamento").toggle();
        });

        $('#combobox option').each(function () {
            $(this).removeAttr('selected')
        });

        //Evento change select departamento
        $("#Departamento").combobox({
            select: function (event, ui) {
                cargarMunicipio();
            }
        });

        $("#Municipio").combobox();
        $("#toggle").click(function () {
            $("#Municipio").toggle();
        });

        $('#combobox option:first').attr('selected', 'selected');
        $('input.ui-autocomplete-input').val($('#combobox option:first').text());

        var markersArray = [];

        if (!Modernizr.inputtypes.date) {
            $(function () {
                $(".date").datepicker();
            });
        }
        $(document).ready(function () {

            cargarDepartamento();
            Initialize();
        });

        $('#btnValidate').click(function () {
            var form = $('#formfield');
            form.validate();
            if (form.valid()) {
                //populamos los campos con el detalle de la vacante
                $('#lblTitulo').text($('#Titulo').val());
                $('#lblDescripcion').text($('#Descripcion').val());
                $('#lblNroTrabajadores').text($('#Num_vacantes').val());
                $('#lblCargo').text($('#Cargo').val());
                $('#lblSalario').text($('#Salario option:selected').text());
                $('#lblExperienciaMinima').text($('#Experiencia option:selected').text());
                $('#lblNivelEstudioMinimo').text($('#Nivel_estudios option:selected').text());
                $('#lblProfesion').text($('#Profesion').val());
                $('#lblMunicipioDpto').text($('#Municipio option:selected').text() + "/" + $('#Departamento option:selected').text());
                $('#lblDireccionRef').text($('#Direccion').val());
                $('#lblDireccionCorreo').text($('#Email').val());
                $('#lblTelefonoContacto').text($('#Indicativo option:selected').text() + "-" + $('#Telefono').val());

                $('#divConfirmacion').css("display", "block");
                $('#formulario').css("display", "none");
            } else {
                $('#divConfirmacion').css("display", "none");
                $('#formulario').css("display", "block");
                alert("Algunos datos son incorrectos, por favor revise el formulario");
            }
        });

        $("#btnRegresar").click(function () {
            $('#divConfirmacion').css("display", "none");
            $('#formulario').css("display", "block");
        });

        $('#btnAlmacenar').click(function () {
            var form = $('#formfield').submit();
        });

        function Initialize() {


            // Google has tweaked their interface somewhat - this tells the api to use that new UI
            google.maps.visualRefresh = true;
            var Bogota = new google.maps.LatLng(4.598056, -74.075833);

            // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
            var mapOptions = {
                zoom: 14,
                center: Bogota,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };

            // This makes the div with id "map_canvas" a google map
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            // add a click event handler to the map object
            google.maps.event.addListener(map, "click", function (event) {

                deleteOverlays();

                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()),
                    'map': map,
                    'title': "Marker"
                });

                $("#Latitud").val(event.latLng.lat());
                $("#Longitud").val(event.latLng.lng());

                marker.setIcon('/images/marker.png')
                markersArray.push(marker);

            });
        }

        // Deletes all markers in the array by removing references to them
        function deleteOverlays() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }
                markersArray.length = 0;
            }
        }

        function crearMapa() {
            setTimeout(function() {
                geoCiudad($("#Municipio option:selected").html());
            }, 500);
        }

        function geoCiudad(cityName) {
            var geocoder =  new google.maps.Geocoder();
            geocoder.geocode( { 'address': ''+ cityName +', co'}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var lat = results[0].geometry.location.lat();
                    var lon = results[0].geometry.location.lng();
                    InitializeReg(lat, lon);
                } else {
                    alert("Something got wrong " + status);
                }
            });
        }


        function InitializeReg(lat, lon) {

            $("#Latitud").val(lat);
            $("#Longitud").val(lon);


            // Google has tweaked their interface somewhat - this tells the api to use that new UI
            google.maps.visualRefresh = true;
            var Bogota = new google.maps.LatLng(lat, lon);

            // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
            var mapOptions = {
                zoom: 14,
                center: Bogota,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };

            // This makes the div with id "map_canvas" a google map
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            // This shows adding a simple pin "marker" - this happens to be the Tate Gallery in Liverpool!
            var myLatlng = new google.maps.LatLng(lat, lon);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Bogotá'
            });

            markersArray.push(marker);

            // You can make markers different colors...  google it up!
            marker.setIcon('/images/marker.png')

            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

            // add a click event handler to the map object
            google.maps.event.addListener(map, "click", function (event) {

                deleteOverlays();

                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()),
                    'map': map,
                    'title': "Marker"
                });

                $("#Latitud").val(event.latLng.lat());
                $("#Longitud").val(event.latLng.lng());


                marker.setIcon('/images/marker.png')
                markersArray.push(marker);

            });
        }

    </script>
}
