﻿@model WebOfertaEmpleo.Models.Vacante

@{
    ViewBag.Title = "Eliminar";
}

@section styles {
    <link href="~/Content/bootstrap_custom.css" rel="stylesheet" />
}



<div class="page-header" id="header">
    <a href="#" class="deploy-sidebar"></a>
    <img class="header-logo" src="~/images/texto_banner.png" width="71" alt="img">
    <!--<label class="header-logo">OPORTUNIDADES DE EMPLEO</label>-->
</div>
<div class="page-header-clear">
</div>
<div class="content">
    <div class="decoration">
    </div>
    @if (Session["nomUsu"] != null)
    {
        <div class="container no-bottom" style="text-align: right;margin-right: 0px;">
            <h5>
                Se encuentra logueado como @Session["nomUsu"].ToString()
            </h5>
        </div>
    }

    <div class="container no-bottom" style="text-align: center;">
        <h3>
            ELIMINAR VACANTE
        </h3>
    </div>
    <div class="decoration">
    </div>

    <h3>Está seguro que desea eliminar ?</h3>
    <div>
        <h4>Vacante @Model.Titulo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Num_vacantes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Num_vacantes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cargo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cargo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha_publicacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_publicacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha_vencimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_vencimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profesion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profesion)
            </dd>
            
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> 
                <br />
                @Html.ActionLink("Volver al Listado", "Index")
            </div>
        }
    </div>

    <div class="decoration">
    </div>
    <div class="container">
        <div class="footer-socials" style="width:100%;">
            <div style="float:left;width:50%;">
                <a href="#" class="facebook-footer" style="float:right;"></a>
            </div>
            <div style="float:left;width:50%;">
                <a href="#" class="twitter-footer" style="float:left;"></a>
                <a href="#" class="goup-footer" style="float:right;"></a>
            </div>
        </div>
        <p class="copyright uppercase center-text no-bottom">
            SERVICIO DE EMPLEO 2014<br>
            Todos los derechos reservados
        </p>
    </div>
</div>


