﻿@model WebOfertaEmpleo.Models.Vacante

@{
    ViewBag.Title = "Detalle";
}

@section styles {
    <link href="~/Content/bootstrap_custom.css" rel="stylesheet" />
}

<div class="page-header" id="header">
    <a href="#" class="deploy-sidebar"></a>
    <img class="header-logo" src="~/images/texto_banner.png" width="71" alt="img">
</div>
<div class="page-header-clear">
</div>
<div class="content">
    <div class="decoration">
    </div>
    <div class="container no-bottom" style="text-align: center;">
        <h3>
            DETALLES DE LA VACANTE
        </h3>
    </div>
    <div class="decoration">
    </div>

    <div>
        <h4>Vacante @Model.Titulo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Experiencia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExperienciaNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Num_vacantes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Num_vacantes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cargo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cargo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha_publicacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_publicacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha_vencimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_vencimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nivel_estudios)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nivel_estudiosNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profesion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profesion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Salario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SalarioNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Municipio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Municipio1.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Departamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Departamento1.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                (@Html.DisplayFor(model => model.Indicativo)) - @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Celular) 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Ir al listado de búsqueda de vacantes", "Index", "Home")
    </p>

    <div class="decoration">
    </div>
    <div class="container">
        <div class="footer-socials" style="width:100%;">
            <div style="float:left;width:50%;">
                <a href="#" class="facebook-footer" style="float:right;"></a>
            </div>
            <div style="float:left;width:50%;">
                <a href="#" class="twitter-footer" style="float:left;"></a>
                <a href="#" class="goup-footer" style="float:right;"></a>
            </div>
        </div>
        <p class="copyright uppercase center-text no-bottom">
            SERVICIO DE EMPLEO 2014<br>
            Todos los derechos reservados
        </p>
    </div>
</div>
