﻿@model IEnumerable<WebOfertaEmpleo.Models.Vacante>

@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="~/Content/bootstrap_custom.css" rel="stylesheet" />
    <style>
        .infoDiv {
            height: 110px;
            width: 220px;
            -webkit-user-select: none;
            background-color: white;
        }
    </style>
}

<div class="page-header-clear">
</div>
<div class="content">
    <div class="decoration">
    </div>
    @if (Session["nomUsu"] != null)
    {
        <div class="container no-bottom" style="text-align: right;margin-right: 0px;">
            <h5>
                Se encuentra logueado como @Session["nomUsu"].ToString()
            </h5>
        </div>
    }

    <div class="container no-bottom" style="text-align: center;">
        <h3>
            GESTIÓN DE VACANTES
        </h3>
    </div>
    <div class="decoration">
    </div>
    <p>
        @Html.ActionLink("Crear Nueva", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_vacantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_publicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_vencimiento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Num_vacantes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_publicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_vencimiento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("Detalles", "Details", new { id = item.ID }) |*@
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    <div class="decoration">
    </div>
    <div class="container">
        <div class="footer-socials" style="width:100%;">
            <div style="float:left;width:50%;">
                <a href="#" class="facebook-footer" style="float:right;"></a>
            </div>
            <div style="float:left;width:50%;">
                <a href="#" class="twitter-footer" style="float:left;"></a>
                <a href="#" class="goup-footer" style="float:right;"></a>
            </div>
        </div>
        <p class="copyright uppercase center-text no-bottom">
            SERVICIO DE EMPLEO 2014<br>
            Todos los derechos reservados
        </p>
    </div>
</div>
