﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header-clear">
</div>
<div class="content">
    <div class="decoration">
    </div>
    <div class="container no-bottom">
        <form method="post" class="contactForm" id="contactForm">
            <fieldset>
                <div class="formValidationError" id="contactNameFieldError">
                    <div class="static-notification-red tap-dismiss-notification">
                        <p class="center-text uppercase">
                            Debe ingresar el nombre de usuario
                        </p>
                    </div>
                </div>
                <div class="formValidationError" id="contactMessageTextareaError">
                    <div class="static-notification-red tap-dismiss-notification">
                        <p class="center-text uppercase">
                            Debe ingresar la contraseña
                        </p>
                    </div>
                </div>
                <div class="formFieldWrap">
                    <label class="field-title contactNameField" for="contactNameField">
                        Usuario:<span>(requerido)</span>
                    </label>
                    <input type="text" name="contactNameField" value="" class="contactField requiredField"
                           id="contactNameField" />
                </div>
                <div class="formFieldWrap">
                    <label class="field-title contactEmailField" for="contactEmailField">
                        Contraseña:<span>(requerido)</span>
                    </label>
                    <input type="password" name="contactEmailField" value="" class="contactField requiredField"
                           id="contactEmailField" />
                </div>
                <br />
                <div class="formSubmitButtonErrorsWrap">
                    <input type="submit" class="buttonWrap button button-dark contactSubmitButton" id="contactSubmitButton"
                           value="Enviar" data-formid="contactForm" onclick="log();" />
                    <div class="static-notification-green tap-dismiss-notification" style="display: none; margin-top: 15px;" id="div_guardado">
                        <p class="center-text">Los datos han sido almacenados correctamente</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="loading" class="CargandoModalBackground" style="padding-top: 150px;">
        <img src="/images/bx_loader.gif" alt="loding" />
    </div>
    <div class="decoration">
    </div>
    <br />
    <div class="container" style="overflow:hidden;">
        <div class="footer-socials" style="width:100%; overflow:hidden;">
            <div style="float:left;width:50%;">
                <a href="https://www.facebook.com/SPEColombia?fref=ts" target="_blank" class="facebook-footer" style="float:right;"></a>
            </div>
            <div style="float:left;width:50%;">
                <a href="https://twitter.com/ServiciodEmpleo" target="_blank" class="twitter-footer" style="float:left;"></a>
                <a href="#" class="goup-footer" style="float:right;"></a>
            </div>
        </div>
        <p class="copyright uppercase center-text no-bottom">SERVICIO DE EMPLEO MÓVIL 2014<br> Todos los derechos reservados</p>
    </div>

</div>
