﻿<div class="container" style="overflow:hidden;">
    <div class="footer-socials" style="width:100%; overflow:hidden;">
        <div style="float:left;width:50%;">
            <a href="https://www.facebook.com/SPEColombia?fref=ts" target="_blank" class="facebook-footer" style="float:right;"></a>
        </div>
        <div style="float:left;width:50%;">
            <a href="https://twitter.com/ServiciodEmpleo" target="_blank" class="twitter-footer" style="float:left;"></a>
            <a href="#" class="goup-footer" style="float:right;"></a>
        </div>
    </div>
    <p class="copyright uppercase center-text no-bottom">SERVICIO DE EMPLEO MÓVIL 2014<br> Todos los derechos reservados</p>
</div>
