﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Consulta de las vacantes disponibles en el Servicio de Empleo">
    <meta content="~/images/logo_odc.png" itemprop="image">
    <title>Servicio de Empleo Móvil</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    <link href="~/styles/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="~/styles/general.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div id="div-confirm" style="display:none">
        <div id="content-alert">
        </div>
    </div>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                Cargando contenido... <em>La carga depende de su conexión a internet!</em>
            </p>
        </div>
    </div>
    <div class="all-elements">
        <div id="sidebar" class="page-sidebar">
            <div class="page-sidebar-scroll">
                <div class="sidebar-shortcuts">
                    <a href="#" class="shortcut-close"></a>
                </div>
                <div class="sidebar-search">
                    <div class="search-box">
                        <input type="text" class="search-field" name="search" onfocus="if(this.value == 'Looking for something?') { this.value = ''; }"
                               value="Looking for something?">
                        <a href="#" class="search-close"></a>
                    </div>
                </div>
                <div class="sidebar-logo">
                    <img src="~/images/logo_odc.png" height="52" alt="img">
                </div>
                <div class="sidebar-breadcrumb">
                    BUSCO EMPLEO
                </div>
                <div class="navigation-item">
                    <a href="/" class="nav-item home-icon">Oportunidades de empleo<em class="selected-item"></em></a>
                </div>
                <div class="sidebar-decoration">
                </div>
              
                <div class="sidebar-decoration">
                </div>
                <div class="sidebar-breadcrumb">
                    SOY EMPLEADOR
                </div>
                <div class="navigation-item">
                    <a href="#" class="nav-item home-admin submenu-deploy">
                        Sección del empleador<em class="dropdown-item"></em>
                    </a>
                    <div class="sidebar-decoration">
                    </div>
                    <div class="nav-submenu">
                        @if (Session["nomUsu"] != null)
                        {
                            <a id="opc_Registrar" name="opc_Registrar" href="/Vacantes/Create">
                                Publicar vacante nueva<em class="unselected-item"></em>
                            </a>
                            <a id="opc_VerMias" name="opc_VerMias" href="/Vacantes">
                                Gestionar vacantes<em class="unselected-item"></em>
                            </a>
                        }
                        else
                        {
                            <a id="opc_Sesion" href="/Cuenta">
                                Inicio sesion<em class="unselected-item"></em>
                            </a>
                        }
                    </div>
                </div>
                <div class="sidebar-decoration">
                </div>
                <div class="sidebar-breadcrumb">
                    INFORMACIÓN
                </div>
                <div class="navigation-item">
                    <a href="/Faq" class="nav-item home-faqs">Preguntas Frecuentes<em class="unselected-item"></em></a>
                </div>
                <div class="sidebar-decoration">
                </div>
                <div class="navigation-item">
                    <a href="/Acerca" class="nav-item home-info-about">Acerca de<em class="unselected-item"></em></a>
                </div>
                <div class="sidebar-decoration">
                </div>
                <div class="sidebar-breadcrumb">
                    SERVICIO DE EMPLEO 2014
                </div>
            </div>
        </div>
        <div id="content" class="page-content">
            <div class="page-header" id="header">
                <a href="#" class="deploy-sidebar"></a>
                <div id="texto_encabezado">Servicio de Empleo Móvil</div>
                @*<img class="header-logo" src="~/images/texto_banner.png" width="71" alt="img">*@
                @if (Session["nomUsu"] != null)
                {
                    <a href="/Cuenta/Salir" style="float:right;"><img style="width:35px;margin-top:-30px;" src="~/images/icons/user/exit.png" alt="img"></a>
                }
            </div>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts-web")
    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
</body>
</html>
