﻿@{

}

@section styles{
    <style>
        .center-icon {
            width: 200px;
        }

    </style>
}

<div class="page-header-clear"></div>
<div class="content" style="text-align: center;">
    <div class="decoration"></div>

    <div class="container no-bottom" style="text-align:center;">
        <h3>ACERCA DE LA APLICACIÓN</h3>
    </div>

    <div class="decoration"></div>

    <div class="container no-bottom">
        <p style="text-align:justify;">El Servicio de Empleo Móvil permite la publicación y consulta de oportunidades de trabajo urgentes (oportunidades de empleo y prácticas y pasantías), en caso de que el empleador no pueda acudir a un prestador autorizado de la red del Servicio Público de Empleo. A través de esta herramienta, el Servicio de Empleo llega a todos los territorios y a todas las poblaciones que todavía no cuenten con oficinas de atención presencial. Su uso es gratuito y universal. Sin embargo este app. NO remplaza la atención y los servicios adicionales que pueden recibir trabajadores y empleadores a través de cualquiera de los prestadores autorizados de la red del SPE o al presentarse directamente en un centro de empleo. El listado de prestadores autorizados en todo el territorio nacional puede ser consultado en: http://www.buscadordeempleo.gov.co/Home/mapa</p>
    </div>
    <br>

    <div class="container no-bottom">
        <h4> Versión</h4>
        1.0
    </div>
    <br>
    <div class="container no-bottom">
        <h4> Equipo de Desarrollo</h4>
        Cristian Montes
        <br>
        John Eduard Lopez
        <br>
        Steven Muñoz
    </div>
    <br>
    <div class="container no-bottom">

    </div>
    <div class="container no-bottom">
        <h4> Con el apoyo de</h4>
    </div>
    <div class="column shadow">
        <div>
            <img alt="img" src="images/mintic_logo.png" class="center-icon logos">
            <h5 class="center-text uppercase texto-logos">
                Ministerio de Tecnologías de la Información y las Comunicaciones
            </h5>
            <p class="center-text no-bottom">
                <br>
            </p>
        </div>
        <div>
            <img alt="img" src="images/logo.png" class="center-icon logos">
            <h5 class="center-text uppercase texto-logos">
                Servicio de empleo
                <br>
                <p class="center-text no-bottom">
                    <br>
                </p>
        </div>
    </div>
    <div class="decoration"></div>
    <div class="container" style="overflow:hidden;">
        <div class="footer-socials" style="width:100%; overflow:hidden;">
            <div style="float:left;width:50%;">
                <a href="https://www.facebook.com/SPEColombia?fref=ts" target="_blank" class="facebook-footer" style="float:right;"></a>
            </div>
            <div style="float:left;width:50%;">
                <a href="https://twitter.com/ServiciodEmpleo" target="_blank" class="twitter-footer" style="float:left;"></a>
                <a href="#" class="goup-footer" style="float:right;"></a>
            </div>
        </div>
        <p class="copyright uppercase center-text no-bottom">SERVICIO DE EMPLEO MÓVIL 2014<br> Todos los derechos reservados</p>
    </div>

</div>
