﻿@section styles{
    <style>
        .enlace_vacante {
            border-top: solid 1px rgba(0,0,0,0.1);
            padding-left: 20px !important;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            border-bottom: solid 1px rgba(0,0,0,0.1) !important;
        }

        .styled-select {
            width: 99%;
        }

        div {
            overflow: visible;
        }

        .custom-combobox-toggle {
            position: absolute !important;
        }

        .ui-state-default {
            border: 0px solid #cccccc !important;
        }

        .styled-select-autocomplete {
            height: 34px;
            overflow: hidden;
            background: none;
            padding: 3px;
            margin: 0px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
            color: #888;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }

        .ui-state-default .ui-icon:not(.ui-icon-closethick) {
            background-image: url("../images/flecha_abajo.png") !important;
        }
        
        .ui-icon:not(.ui-icon-closethick) {
            width: 33px !important;
            height: 33px !important;
        }

        .ui-button-icon-only .ui-icon:not(.ui-icon-closethick) {
            left: 0 !important;
            margin-left: -2px !important;
        }

        .ui-button-icon-only .ui-icon:not(.ui-icon-closethick) {
            position: absolute;
            top: 0 !important;
            margin-top: -1px !important;
        }

    </style>
}


<div class="page-header-clear">
</div>
<div class="content">
    <div class="decoration">
    </div>
    <div class="container no-bottom" style="text-align: center;">
        <h3>
            OPORTUNIDADES DE EMPLEO
        </h3>
    </div>
    <div class="decoration">
    </div>
    <div class="container no-bottom">
        <div class="big-notification blue-notification">
            <h4>
                En esta sección, señor Trabajador, podrá consultar las vacantes disponibles, según
                los filtros de búsqueda que quiera establecer. Los resultados arrojados por la búsqueda
                se presentan en formato de listado, apareciendo primero las vacantes más urgentes
                y prontas a vencerse, o en un mapa para identificar las oportunidades más cercanas
            </h4>
            <a href="#" class="close-big-notification">X</a>
        </div>
    </div>
    <div class="container no-bottom">
        <div class="formValidationError" id="contactNameFieldError">
            <div class="static-notification-red tap-dismiss-notification">
                <p class="center-text uppercase">
                    Debe ingresar una palabra o frase de búsqueda
                </p>
            </div>
        </div>
        <div class="formFieldWrap">
            <label class="field-title contactNameField" for="contactNameField">
                Ingrese el nombre de la profesión, cargo u ocupación que busca
            </label>
            <input type="text" name="contactNameField" value="" class="contactField requiredField"
                   id="contactNameField" placeholder="Ej. Mensajero bachiller con moto" />
        </div>
        <div class="formTextareaWrap">
            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">
                Tipo de oportunidad: <span>(requerido)</span>
            </label>
            <select class="styled-select" name="selectTipoOportunidad" id="selectTipoOportunidad">
                <option value="1">Empleo</option>
                <option value="2">Pasantía</option>
                <option value="3">Práctica laboral</option>
                <option value="4">Contrato de aprendizaje</option>
            </select>
        </div>
        <div class="form-group">
            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">
                Departamento: <span>(requerido)</span>
            </label>
            <div class="col-md-10">
                <div class="ui-widget espacio_span_abajo styled-select-autocomplete" style="margin-right: 50px; width: 99%;">
                    <select class="form-control" name="Departamento" id="Departamento" style="max-width: 200px;"></select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">
                Municipio: <span>(requerido)</span>
            </label>
            <div class="col-md-10">
                <div class="ui-widget espacio_span_abajo styled-select-autocomplete" style="margin-right: 50px; width: 99%;">
                    <select class="form-control" name="Municipio" id="Municipio" style="max-width: 200px;"></select>
                </div>
            </div>
        </div>
        <div class="formTextareaWrap">
            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">
                Salario: <span>(requerido)</span>
            </label>
            <select class="styled-select" name="selectSalario" id="selectSalario">
                <option value="10">Cualquiera</option>
                <option value="0">Menos de 1 SMMLV</option>
                <option value="1">1 SMMLV</option>
                <option value="2">Más de 1 SMMLV hasta 2 SMMLV</option>
                <option value="3">Más de 2 SMMLV hasta 3 SMMLV</option>
                <option value="4">Más de 3 SMMLV hasta 5 SMMLV</option>
                <option value="5">Más de 5 SMMLV hasta 7 SMMLV</option>
                <option value="6">Más de 7 SMMLV</option>
                <option value="7">A convenir</option>
            </select>
        </div>
        <div class="formTextareaWrap">
            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">
                Experiencia laboral: <span>(requerido)</span>
            </label>
            <select class="styled-select" name="selectExperiencia" id="selectExperiencia">
                <option value="0">Sin experiencia</option>
                <option value="1">De 0 a 6 meses</option>
                <option value="2">De 7 a 12 meses</option>
                <option value="3">De 13 a 24 meses</option>
                <option value="4">Más de 24 meses</option>
            </select>
        </div>
        <div class="formFieldWrap">
            <label class="field-title contactNameField" for="contactNameField">
                Nivel educativo:
            </label>
            <select class="styled-select" name="selectNivel" id="selectNivel">
                <option value="1">Cualquiera</option>
                <option value="2">Preescolar</option>
                <option value="3">Básica Primaria (1 - 5)</option>
                <option value="4">Básica Secundaria (6 - 9) </option>
                <option value="5">Media (10 - 13) </option>
                <option value="6">Postgrado </option>
                <option value="7">Técnica Laboral</option>
                <option value="8">Técnica Profesional</option>
                <option value="9">Tecnológica</option>
                <option value="10">Universitaria</option>
                <option value="11">Especialización</option>
                <option value="12">Maestría</option>
                <option value="13">Doctorado</option>
            </select>
        </div>

        <br />
        <div class="formSubmitButtonErrorsWrap">
            <input type="submit" class="buttonWrap button button-dark contactSubmitButton" id="contactSubmitButton"
                   value="Consultar lista de vacantes" data-formid="contactForm" onclick="enviar(1);" />
            <br />
            <input type="submit" class="buttonWrap button button-dark contactSubmitButton" id="mapButton"
                   value="Ver vacantes en el mapa" data-formid="contactForm" onclick="enviar(2);" />
        </div>
       
    </div>
    <div class="decoration">
    </div>
    <div id="map_canvas" style="height: 400px; display:none;">
    </div>
    <div id="detalle">
    </div>
    <div id="ofertas">
    </div>
    <div id="loading" class="CargandoModalBackground" style="padding-top: 150px;">
        <img src="/images/bx_loader.gif" alt="loding" />
    </div>
    <div class="decoration"></div>
    <div class="container" style="overflow:hidden;">
        <div class="footer-socials" style="width:100%; overflow:hidden;">
            <div style="float:left;width:50%;">
                <a href="https://www.facebook.com/SPEColombia?fref=ts" target="_blank" class="facebook-footer" style="float:right;"></a>
            </div>
            <div style="float:left;width:50%;">
                <a href="https://twitter.com/ServiciodEmpleo" target="_blank" class="twitter-footer" style="float:left;"></a>
                <a href="#" class="goup-footer" style="float:right;"></a>
            </div>
        </div>
        <p class="copyright uppercase center-text no-bottom">SERVICIO DE EMPLEO MÓVIL 2014<br> Todos los derechos reservados</p>
    </div>

</div>


@section scripts
{
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
   
    <script>
        $("#Departamento").combobox();
        $("#toggle").click(function () {
            $("#Departamento").toggle();
        });

        $('#combobox option').each(function () {
            $(this).removeAttr('selected')
        });

        //Evento change select departamento
        $("#Departamento").combobox({
            select: function (event, ui) {
                cargarMunicipio();
            }
        });

        $("#Municipio").combobox();
        $("#toggle").click(function () {
            $("#Municipio").toggle();
        });

        $('#combobox option:first').attr('selected', 'selected');
        $('input.ui-autocomplete-input').val($('#combobox option:first').text());

        $(document).ready(function () {
            cargarDepartamento();
      
        });

    </script>
}
